<div class="row">
	<div class="col-md-4"></div>
		<div class="col-md-4">

			<%= render partial: 'sessions/nav' %>
			
			<h1>Sign In</h1>

				<%= form_for :session, :url => sessions_path do |f| %>
					Email: <%= f.text_field :email, class: "form-control" %>
					Password: <%= f.password_field :password, class: "form-control" %>
					<%= f.submit "Sign In", class: "btn btn-success" %>
				<% end %>

		</div>
	<div class="col-md-4"></div>
</div>
