<h1>Sign In</h1>

<%= form_for :session, :url => sessions_path do |f| %>
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	<%= f.submit "Sign In", class: "btn" %>
	<%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
<% end %>


