<h2>Sign Up</h2>

<%= form_for @user do |f| %>
	Name: <%= f.text_field :name %>
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	<%= f.submit "Sign Up", class: "btn" %>
<% end %>
