<div class="container">
	<div class="row">
		
		<div class="col-md-6">
					<% if @post.image_content_type %>
						<%= image_tag @post.image.url, class: "img-thumbnail"%>
					<% end %>
				
		</div>

		<div class="col-md-6">
			

			
				<%= form_for @post, :html => { :multipart => true } do |f| %>
				
						<h2>From</h2>
						<%= f.text_field :title, class: "form-control" %>
						
						<h2>Dear Baby Oliver</h2>
						<%= f.text_area :description, size: "30x10", class: "form-control" %>
						
						<%= f.submit "Update", class: "btn btn-success" %>
					
				<% end %>
			
			

		</div>
		
	</div>
</div>